<form class="form-box" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
    <h3 class="title">login form</h3>
    <ul class="form">
        <li for="username" class="items" name="username">username: <input type="text" formControlName="username"></li>
        <li for="password" class="items" name="password">password: <input type="password" formControlName="password"></li>
    </ul>
    <!-- <div>
        IsLoginPending: {{(isLoginPending$ | async)}}
    </div> -->

    <button type="submit" class="register-login" (click)="handleLogin">login</button>
    <a class="message" routerLink="/register">not registered yet? go to register</a>
</form>
