<form class="form-box" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">
    <h3 class="title">register form</h3>
    <ul class="form">
        <li for="name" class="items" name="name">name: <input type="text" formControlName="name"></li>
        <li for="username" class="items" name="username">username: <input type="text" formControlName="username"></li>
        <li for="email" class="items" name="email">email: <input type="email" formControlName="email"></li>
        <li for="address" class="items" name="address">address: <input type="text" formControlName="address"></li>
        <li for="phone" class="items" name="phone">phone: <input type="text" formControlName="phone"></li>
        <li class="items2">
            <ul class="form" formGroupName="passwords">
                <li for="password"  class="items" >password: <input name="password" type="password" formControlName="password"></li>
                <li for="repeatPassword" class="items" >repeat password: <input name="password" type="password" formControlName="repeatPassword"></li>
            </ul>
        </li>
    </ul>
    <button type="submit" class="register-login">register</button>
    <a routerLink="/login" class="message">already registered? go to login</a>
</form>
