<form class="form-box">
    <ul class="form">
        <li class="items" name="title">title: <input type="text" formControlName="title"></li>
        <li class="items" name="timeToCook">time to cook: <input type="text" formControlName="timeToCook"></li>
        <li class="items" name="ingredients">ingredients: <textarea type="text" formControlName="ingredients"></textarea></li>
        <li class="items" name="howToCook">how to cook: <textarea type="text" formControlName="howToCook"></textarea></li>
        <li class="items" name="imageUrl">image URL: <input type="text" formControlName="imageUrl"></li>
    </ul>

    <button class="create">create recipe</button>
</form>
