<nav>
    <ul class="navbar">
        <li>
            <a class="links" routerLink="/home">Home</a>
        </li>
        <ng-container *ngIf="!isLogged">
            <li>
                <a class="links" routerLink="/login">Login</a>
            </li>
            <li>
                <a class="links" routerLink="/register">Register</a>
            </li>
        </ng-container>
        <li>
            <a class="links" routerLink="/all-recipes">All Recipes</a>
        </li>
        <ng-container *ngIf="isLogged" class="navbar-private">
            <li>
                <a class="links" routerLink="/create-recipe">Create Recipe</a>
            </li>
            <li>
                <a href="#" class="links">my profile</a>
            </li>
            <li class="user">welcome {{currentUser.username}}</li>
            <li>
                <a href="#" class="links" (click)="logoutHandler()">Logout</a>
            </li>
        </ng-container>
    </ul>

</nav>